<button [routerLink]="['/pokedex']" mat-button>POKEDEX</button>
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h2>Connexion</h2>
      <mat-error *ngIf="error.length > 0">
        {{error}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Je@sappelle.groot" formControlName="email">
        <mat-error>
          Email requis
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="JeSappelleGroot" formControlName="password">
        <mat-error>
          Mot de passe requis
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>
