<form *ngIf="searchOption" style="position: sticky" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search for Pokemons</mat-label>
    <input #search matInput placeholder="Salamèche" [ngModel]="searchKey" (ngModelChange)="searchFor($event)"
           [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</form>
<mat-list *ngIf="pokemons" class="search-results" role="list" infiniteScroll
          (scrolled)="onScroll()"
          [scrollWindow]="false">
  <mat-list-item role="listitem" *ngFor="let pokemon of pokemons" (click)="selectPokemon(pokemon)"
                 style="cursor: pointer">
    <img matListAvatar src="assets/img/sprites/{{pokemon.id}}.png" alt="{{pokemon.name}}">
    <h3 matLine>
      {{pokemon.id | number:'3.0-0'}}.
      <span> {{pokemon.name}} </span>
      <button *ngIf="pokemonsOption" mat-mini-fab color="warn" aria-label="Remove PokemonModel"
              (click)="removePokemon(pokemon)">
        <mat-icon>remove</mat-icon>
      </button>
    </h3>
  </mat-list-item>
</mat-list>
